PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/apnaghar?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173

# JWT Authorization Secrets
JWT_ACCESS_SECRET=your_super_secret_jwt_access_token_signature_key
JWT_REFRESH_SECRET=your_super_secret_jwt_refresh_token_signature_key
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d
